/* shared style */
body{
    font-family: 'Mulish', sans-serif;
}
.btn-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
    
}
header{
    padding: 45px 135px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-left: 44px;
}
nav li a {
    text-decoration: none;
}
.banner-title{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.travel{
    color: #FF5400; 
    font-size: 36px;
    font-weight: 800;
}
nav li a{
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-right: 50px;
}
.banner-img{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    width: 1170px;
    height: 500px;
    border-radius: 16px;
}
.banner-discription{
    text-align: center;
}
.section-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
}
.section-discription{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.where-go{
    /* text-align: center; */
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
}
.seclection{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
}
.seclect-type{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
}


@media screen and (max-width: 600px) {
    header{
        padding: 30px;
    }
    nav{
        display: block;
    }
    .banner-title{
        width: 375px;
        height: 64px;
    }
    nav>ul{
        display: block
    }
    .banner-img{
        width: 335px;
        height: 483px;
    }
    .section-title{
        font-size: 22px;
        padding-top: 50px;

    }
    .seclection{
        margin-top: 16px;
    } 
    .seclect-type{
        margin-top: 16px;
    }
    .btn-primary{
        margin-top: 16px;
    }   
}




    